/.vs
**/Intermediate
**/Saved
**/Binaries
/Build
/DerivedDataCache
/obj

# SuperBookmarks data file
.vs\Hello\v15\.SuperBookmarks.dat
_ReSharper.Caches
.idea
/.idea
/Content/StarterContent
Hello.sln
*.vsconfig